<div class="container mt-5 mb-5">
    <!-- <img src="" width="100%"> -->
    <h1 class="text-center">About</h1>

    <p><br class="font-size">Why is junk food bad?
        Eating junk food on a regular basis can lead to an increased risk of obesity and chronic diseases like cardiovascular disease, type 2 diabetes, non-alcoholic fatty liver disease and some cancers.
        We know Australian's eat too much junk food.
        35% of adults’ daily energy intake (kilojoules) comes from junk food.
        41% of children’s daily energy intake (kilojoules) comes from junk food.
        This means junk food is taking the place of other more nutritious foods in our diets.
        <br/>
        Junk foods are food and drinks with low nutritional value (e.g. vitamins, minerals and fibre) and high in kilojoules, fat, sugars and/or salt. On the other hand, 
        fast foods are a type of food you get from a restaurant designed to be delivered to you in the quickest way possible. Some fast foods can be healthy, but typically most fast foods are junk food. For example, salad, 
        sushi and sandwiches are healthy forms of fast food. However, most fast food restaurants, such as McDonalds or KFC serve unhealthy junk food.  In Australia, 35% of an average adult’s daily energy intake and 41% of children’s daily energy intake comes from junk food.
        <br>
        Junk food high in sodium can lead to increased headaches and migraine
        Junk food high in carbs can trigger outbreaks of acne
        Eating excessive amounts of junk food may increase your risk of depression
        The carbs and sugar in fast foods can lead to dental cavities
        Fried foods are filled with trans fats which raise LDL cholesterol levels
        Fast food is filled with empty carbohydrates, which can lead to increased blood sugar and insulin resistance
        Increased sodium levels can lead to your body retaining excessive water, leading to bloating
        <br>
        To avoid the negative health risks to your, your diet needs to be nutritional and diverse. Small changes to your diet can make an immense
        difference to your health. It’s easier than you think, especially if you follow at least six of the eight goals outlined below. 
        What you eat and drink each day effects your health and wellbeing, both physically and mentally. Good nutrition, along with regular exercise will help you maintain a healthy weight,
         while reducing your risk of chronic diseases such as heart disease. However, consuming regular amounts of fast and junk food will impact your quality of health, and will have negative effects on your body.
    </p>

</div>
