<section>

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Full Stack Developer</span>
                <h1 class="mt-4">Meignanam Srinivasan</h1>
                <p class="p-des mt-3 mb-4">3+ years of experience working in a corporate environment as a front-end
                    UI/Angular developer. Strong technical skills in complex website development including web-based
                    applications. Ability to create beautiful web applications writing top notch HTML5, CSS3, Bootstrap,
                    Node js,JavaScript and Angular.</p><br>
                <p class="p-des mt-3 mb-4">I’ve always sought out opportunities and challenges that are meaningful to
                    me. Although my professional path has taken many twists and turns — from touring and recording
                    artist, to employee of the year at a non-profit,<br> I've never stopped engaging my passion to help
                    others and solve problems.</p>
                <a href="#" class="p-readmore">Read More..<img src="assets/img/share.png"
                        alt="This icon for readmore arrow" width="15" class="ml-2" /></a><br><br>

            </div>
        </div>
    </div>
</section>